{% extends 'base.html' %}
{% block title %}Sigh-up{% endblock title %}
{% block content %}
<div class="auth-container">
    <form method="POST" class="auth-form">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Choose your username">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Comfirm password</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Enter password again">
        </div>
        <input class="btn btn-primary w-100 mb-3" type="submit" value="Sign up">
        <div>
            <p>If you have an account click <a href="/login">here</a></p>    
        <div>
    </form>
{% endblock content %}